<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP3.Properties.Settings.baseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\base.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ERP3.Properties.Settings.erp3ConnectionString" connectionString="Data Source=127.0.01;Initial Catalog=erp3;User ID=sa;Password=1598741a"
            providerName="System.Data.SqlClient" />
        <add name="ERP3.Properties.Settings.nordConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=nord;Persist Security Info=True;User ID=sa;Password=1598741a"
            providerName="System.Data.SqlClient" />
        <add name="ERP3.Properties.Settings.DadosNuvem" connectionString="Data Source=SQL5016.Smarterasp.net;User ID=DB_9D62CD_nord_admin;Password=1598741a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>